# Latex
*.log
*.out
*.aux
*.fdb_latexmk
*.cls
*.fls
*.sty
*.toc
*.synctex(busy)
*.run.xml
*.bbl                                                                                                                                              
*.bcf                                                                                                                                              
*.blg                                                                                                                                              
*.synctex.gz                                                                                                                                       
